@model AsifBlog.Model.User
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="border:3px solid lightgreen;padding:20px">
            <h3 class="text-center text-success">Login</h3>
            <form asp-controller="Account" asp-action="Login" method="post" class="border-success">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="EmailAdress">Email</label>
                <input asp-for="EmailAdress" class="form-control" placeholder="Enter Email"/>
                <span asp-validation-for="EmailAdress" class="text-danger"></span>
                <br />
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" placeholder="Enter Password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
                <br />
                @if (string.IsNullOrEmpty(ViewBag.Error))
                {
                    <span class="text-danger">@ViewBag.Error</span>
                }
                <button type="submit" value="Login" class="btn btn-success">LOGIN</button>
                @*<input type="submit"value="LOGIN" class="btn btn-success"/>*@
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

