@{
    ViewData["Title"] = "Home Page";
}

<div id="Hero" class="col-12 min-vh-100 text-center align-items-center d-flex">

    <div class="container ">
        <div class="col-12">
            <div>
                <h6 class=" herotext text-light">
                    Wellcome To <span class="text-success">Journey Journals</span>
                </h6>
                <br />
                <p class="text-light py-3">Join us on a journey of discovery as we traverse the globe to uncover the world's most<br /> extraordinary destinations Discover Pakistan's breathtaking beauty and rich cultural<br /> tapestry. Join us on a journey to explore the land of wonders </p>
            </div>
            <br />
            <div>
                <a href="" class="btn btn-success me-2 px-4 py-2">JOIN NOW</a>
               
            </div>
        </div>
    </div>
</div>