@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="~/img/about.jpg.jpg" class="rounded" alt="Cinque Terre" width="500" height="400">
        </div>
        <div class="col-sm-6">
            <h3 class="">About Us</h3>
            <br />
            <p>For history enthusiasts, a visit to Mohenjo-Daro is a must. This archaeological site is one of the most important remnants of the ancient Indus Valley Civilization, dating back over 4,000 years. Explore the well-planned streets, intricate drainage systems, and artifacts in the on-site museum, which provide a fascinating glimpse into the past.For a different kind of adventure, take a road trip along the Makran Coastal Highway. You'll be treated to awe-inspiring views of the Arabian Sea, rugged coastlines, and hidden beaches. Don't forget to visit the Gwadar port city and the breathtaking Ormara Beach.</p>
            <p>Pakistan's cultural hub, Lahore, is a city that perfectly blends history and modernity. Explore the Lahore Fort and Badshahi Mosque, both UNESCO World Heritage Sites. Stroll through the vibrant streets of the old city, visit the Lahore Museum, and savor delicious street food in this city of rich traditions and hospitality.</p>
        </div>
    </div>
</div>
