@model AsifBlog.Model.PostReaction
@*@using AsifBlog.Model;
@using AsifBlog.Data;
@inject AsifBlogDbContext db;
@{
    string accessToken = Context.Request.Cookies["user-access-token"];
    User user = new User();
    if (!string.IsNullOrEmpty(accessToken))
    {
        user = db.Users.Where(x=>x.AccesToken.Equals(accessToken)).FirstOrDefault();
    }
}*@
@{
    ViewData["Title"] = "UpdatePostReactionType";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 border border-success">
            <br />
            <h4 class="text-success text-center">Update PostReaction</h4>
            <form asp-controller="Post" asp-action="Update Post Reaction Type" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="PostId">Post Id</label>
                <select asp-for="PostId" asp-items="@ViewBag.posts" class="form-select"></select>
                <span asp-validation-for="PostId" class="text-danger"></span>
                <br />
                <label asp-for="ReactionTypeId">Post ReactionId</label>
                <select asp-for="ReactionTypeId" asp-items="@ViewBag.Reactions" class="form-select"></select>
                <span asp-validation-for="ReactionTypeId" class="text-danger"></span>
                <br />
                <input asp-for="userId" type="hidden" class="form-control" />
                <button type="submit" class="btn btn-success">Create Reactionpost</button>
                <br />
            </form>
            <br />
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
